<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="no.simula.depict.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Depict Perspective"
            class="no.simula.depict.Perspective"
            id="no.simula.depict.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="no.simula.depict.application"
            name="Depict">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="no.simula.depict.application"
            name="Depict 5.2 - DiscovEring Patterns and InteraCTions in databases">
         <property
               name="windowImages"
               value="icons/1371583308_3d_modelling.png,icons/1371583292_3d_modelling.png">
         </property>
         <property
               name="appName"
               value="Depict 5.2 - DiscovEring Patterns and InteraCTions in databases">
         </property>
         <property
               name="aboutImage"
               value="icons/depict-about.png">
         </property>
         <property
               name="aboutText"
               value="Depict - DiscovEring Patterns and InteraCTions in databases&#x0A;&#x0A;Version: 5.2.1&#x0A;&#x0A;An Eclipse RCP application supporting interaction coverage &#x0A;to test data-intensive systems.&#x0A;&#x0A;This product is developed by:&#x0A;Simula Research Laboratory - Software engineering department&#x0A;Martin Linges vei 17, Fornebu - Norway">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,175,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,195,250,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="no.simula.depict.projectnature"
         name="Depict project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="no.simula.depict.project.DepictProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="no.simula.depict.category.wizards"
            name="Depict Wizards">
      </category>
      <wizard
            category="no.simula.depict.category.wizards"
            class="no.simula.depict.wizards.CustomProjectNewWizard"
            icon="icons/1371583308_3d_modelling.png"
            id="no.simula.depict.wizard.new.custom"
            name="Depict Project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/1371583308_3d_modelling.png"
            id="no.simula.depict.navigator"
            name="Depict Navigator">
      </view>
      <view
            allowMultiple="false"
            class="no.simula.depict.ui.ModelGraphView"
            icon="icons/chart_line.png"
            id="no.simula.depict.ui.views.modelgraph"
            name="E-R Model Graph"
            restorable="true">
      </view>
      <view
            class="no.simula.depict.ui.SurgicalQueryView"
            icon="icons/database_table.png"
            id="no.simula.depict.ui.views.surgicalquery"
            name="Surgical Query"
            restorable="true">
      </view>
      <view
            class="no.simula.depict.ui.InteractionCoverageGraphView"
            icon="icons/1376057758_server_chart.png"
            id="no.simula.depict.ui.views.interactioncoveragegraph"
            name="Interaction Coverage Graph"
            restorable="true">
      </view>
      <view
            class="no.simula.depict.ui.InteractionCoverageTableView"
            icon="icons/1376397644_table_chart.png"
            id="no.simula.depict.ui.views.interactioncoverage"
            name="Interaction Coverage Table"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="no.simula.depict.ui.DBInformationView"
            icon="icons/1384960714_database-information.png"
            id="no.simula.depict.ui.views.dbinfo"
            name="Database information"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="no.simula.depict.ui.DBFilterView"
            icon="icons/1384960825_filter.png"
            id="no.simula.depict.ui.views.dbfilter"
            name="Filter"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="no.simula.depict.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="no.simula.depict.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/1371583308_3d_modelling.png"
            id="no.simula.depict.projectnature.imageid"
            natureId="no.simula.depict.projectnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="no.simula.depict.project.DepictDecorator"
            id="no.simula.depict.decorator1"
            label="Depict Decorator"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="no.simula.depict.wizards.depictCategory"
            name="Depict">
      </category>
      <wizard
            category="no.simula.depict.wizards.depictCategory"
            class="no.simula.depict.wizards.ImportCTEModelWizard"
            icon="icons/ctefile.png"
            id="no.simula.depict.wizards.import.ctexl"
            name="Import TESTONA Model File">
         <description>
            Import a CTE-XL model file from the local file system into the selected project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="&amp;File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <separator
                  name="no.simula.titan.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <separator
                  name="no.simula.titan.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  style="push">
            </command>
            <separator
                  name="no.simula.titan.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  style="push">
            </command>
            <separator
                  name="no.simula.titan.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <separator
                  name="no.simula.titan.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  style="push">
            </command>
         </menu>
         <menu
               id="mnuWindow"
               label="&amp;Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="no.simula.depict.toolbars.modelManager">
            <command
                  commandId="no.simula.depict.command.refreshview"
                  icon="icons/1390510154_database_refresh.png"
                  label="Refresh data interaction views"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="no.simula.depict.ui.commands.RefreshDataInteractionCommand"
            description="Refresh data interactions views"
            id="no.simula.depict.command.refreshview"
            name="Refresh data interactions">
      </command>
   </extension>
</plugin>
